@import url('style.css');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    margin: 10px 0 10px 0;
    border-radius: 5px;
    font-family: 'Times New Roman';
}

.container div.col-md-4.tall {
    padding: 15px;
}

.container div.col-md-4.wide .row {
    margin-bottom: 15px;
}

.container div.col-md-4 .row #fizzbuzztext {
    width: 250px;
    overflow: scroll;
    height: 200px;
}

.modal-body .tab-content div div button {
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
}

.modal-body .tab-content div p {
    font-family: 'Bell MT';
    font-size: x-large;
}

.modal-body .tab-content div h1 {
    color: green;
}

.modal-body .tab-content div div #fizzbuzztext {
    width: 250px;
    overflow-y: scroll;
    height: 200px;
}

#colorlib-hero div ul.slides li.flex-active-slide div.container-fluid div div div {
    color: red;
}

.colorlib-about div div .col-md-3 div, .row.row-pt-md div div {
    background-color: white;
}

#colorlib-main section.colorlib-about {
    color: white;
}

#colorlib-main section.colorlib-services {
    margin-bottom: 90px;
}

body, h1, h2, h4, h5, #colorlib-main section.colorlib-skills div div div div h3 {
    color: white;
}

div.row.row-pt-md div div div p, .modal-body .tab-content div, span {
    color: black;
}

.btnStyle {
    color: #000;
    border: 1px solid #000;
    background: transparent !important;
    position: relative;
    height: 40px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    .btnStyle:hover {
        background: #fff;
        color: #fc3c00;
        border: none;
    }

    .btnStyle:before, .btnStyle:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #000;
        transition: 400ms ease all;
    }

    .btnStyle:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .btnStyle:hover:before, .btnStyle:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

div .ih-item a {
    margin: 10px;
}

.btnStyle2 {
    background: #999999;
    border-radius: 2px;
    color: #000;
    border: 1px solid #000;
    position: relative;
    height: 40px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    .btnStyle2:hover {
        background: #fff;
        color: #fc3c00;
        border: none;
    }

    .btnStyle2:before, .btnStyle2:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #000;
        transition: 400ms ease all;
    }

    .btnStyle2:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .btnStyle2:hover:before, .btnStyle2:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }
