@{
    ViewBag.Title = "GridDemo";
}
<style>
</style>
<h2>GridDemo</h2>
<div class="container">
    <h1>First Grid</h1>
    <div class="col-md-4 ">
        <div class="row h3">
            <div class="col-md-4">4</div>
            <div class="col-md-4">4</div>
            <div class="col-md-4">4</div>

        </div><div class="row h3">
            <div class="col-md-6">6</div>
            <div class="col-md-6">6</div>
        </div>
        <div class="row h3">
            <div class="col-md-12">12</div>
        </div>
    </div>
    <div class="col-md-4 h5 tall">
        <div class="row">
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
        </div>
    </div>
    <div class="col-md-4 h6 tall wide">
        <div class="row">
            <div class="col-md-8">8</div>
            <div class="col-md-4">4</div>
        </div>
        <div class="row">
            <div class="col-md-6">6</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3">3</div>
        </div>
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-2">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-2">2</div>
        </div>
        <div class="row">
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
            <div class="col-md-1">1</div>
        </div>
    </div>

    <h1>Second Grid</h1>

    <div class="row">
        <div class="col-md-4">1</div>
        <div class="col-md-8">2</div>
    </div>
    <div class="row ">
        <div class="col-md-12 h2">H2</div>
    </div>
    <div class="row">
        <div class="col-md-2">3</div>
        <div class="col-md-2">4</div>
        <div class="col-md-2">5</div>
        <div class="col-md-2">6</div>
        <div class="col-md-2">7</div>
        <div class="col-md-2">8</div>
    </div>
    <div class="row">
        <div class="col-md-12 h3">H3</div>
    </div>
    <div class="row">
        <div class="col-lg-1">9</div>
        <div class="col-lg-1">10</div>
        <div class="col-lg-1">11</div>
        <div class="col-lg-1">12</div>
        <div class="col-lg-1">13</div>
        <div class="col-lg-1">14</div>
        <div class="col-lg-1">15</div>
        <div class="col-lg-1">16</div>
        <div class="col-lg-1">17</div>
        <div class="col-lg-1">18</div>
        <div class="col-lg-1">19</div>
        <div class="col-lg-1">20</div>
    </div>
    <div class="row h4">
        <div class="col-lg-3">H4</div>
        <div class="col-lg-3">H4</div>
        <div class="col-lg-6">H4</div>
    </div>
    <div class="row">
        <div class="col-lg-3">21</div>
        <div class="col-lg-3">22</div>
        <div class="col-lg-6">23</div>
    </div>

</div>